.ScamDatabase-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #221eca; */
    padding: 35px 15px 15px 15px;
    border-radius: 10px;
    /* align-items: center; */
}
.ScamDatabase_img{
    height: 40px;
    width: 50px;
}
.main-header3-div{
    background-color: #fbfbfd;
    padding: 10px 40px;
    display: flex;
    gap: 2%;
}
.ScamDatabase-header{
    padding-left: 8px;
    line-height: 0px; 
} 
.ScamDatabase-header-text{
    /* color: #8c859d; */
    font-weight: 400;
    font-size: 12px;
    width: 108px;
    
}
