.NewReport-div{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.NewReport_img{
height: 120px;
width: 60px;
}
.main-Header4-div{
    background-color: #fff4de;
    padding: 10px 40px;
}
.NewReport-header{
    padding-left: 8px;
    line-height: -40PX;
}
.NewReport-header-text1{
    color: #ffa800;
    font-weight: 700;
}
.text-scam{
    font-size: 10px;
    padding-top: 0%;
    margin-top: -10px;
    color: gray;
    font-weight: 700;
}
.NewReport-header-text3{
    color: #ffab27;
    font-size: 10px;
    padding-top: 0;
    /* margin-top: -20px; */
    padding-left: 16px;
}

.right-arrow{
    height: 15px;
}
.signup_div{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: -14px;
}